
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
padding: 15px 30px;
}

.navbar a {
text-decoration: none;
color: white;
font-size: 18px;
font-weight: bold;
}

.navbar a:hover {
color: #f0f0f0;
}

.dropdown {
position: relative;
}

.dropdown button {
background-color: #474545;
color: white;
border: none;
font-size: 18px;
cursor: pointer;
padding: 10px 15px;
border-radius: 15px;
}

.dropdown button:hover {
background-color: #444;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
background-color: #333;
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
border-radius: 5px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
display: none;
}

.dropdown-menu li {
padding: 10px;

}

.dropdown-menu li a {
color: white;
text-decoration: none;
display: block;
}

.dropdown-menu li a:hover {
background-color: #444;
}

.dropdown:hover .dropdown-menu {
display: block;
}
